@import url("https://fonts.googleapis.com/css?family=Sacramento:400|Plus+Jakarta+Sans:500,400,600|Inter:400");
body {
    margin: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    /* height: 1024px; jika ingin mengatur tinggi */
    box-sizing: border-box;
}
input {
  border: none; /* Menghilangkan border */
  outline: none;
  width: 100%;
}
a {
  text-decoration:none ;
  color: inherit;
}


.kiri, .kanan {
    flex: 1; 
    width: 100%;
}

body  .kiri {
    display: flex;
    
}
.kiri .background {
    position: relative;
    background-image: url(/assets/Rectangle289.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center center;
    
}
.kiri .backgroundRegister {
    position: relative;
    background-image: url(/assets/Rectangle\ 289.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center center;
    
}
.kiri .backgroundForgot {
    position: relative;
    background-image: url(/assets/Rectangle\ 289forgot.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center center;
    
}

body  .kanan {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
  
body  .logo {
    display: flex; 
    gap: 15px;
    justify-content: center;
    
  }
  body  .logoRegister {
    display: flex; 
    gap: 15px;
    justify-content: center;
    
  }

body  .kanan .logo .img {
    position: relative;
    width: 32px;
    height: 32px;
}
body  .kanan .logoRegister .img {
    position: relative;
    width: 32px;
    height: 32px;
}
  
body  .kanan .logo .logo1 {
    position: relative;
    width: 128px;
}
body  .kanan .logoRegister .logo1 {
    position: relative;
    width: 128px;
}
  
body  .kanan .logo .logo1 .text-form {
    font-family: "Sacramento", Helvetica;
    font-weight: 400;
    color: #8e6447;
    font-size: 20px;
}
body  .kanan .logoRegister .logo1 .text-form {
    font-family: "Sacramento", Helvetica;
    font-weight: 400;
    color: #8e6447;
    font-size: 20px;
}

body  .form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 600px;
    
  }
  
  body  .form .text-form-2 {
    position: relative;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: #8e6447;
    font-size: 22px;
  }
  
  body  .form .p {
    position: relative;
    font-family: "Plus Jakarta Sans", Helvetica;
    color: #4e5664;
    font-size: 16px;
  }
  
  body  .form .textEP {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 15px;
  }
  
  body  .form label {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: #0b132a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .kanan .kotak {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 13px;
    width: 100%;
    background-color: #fcfdfe;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #dedede;
    box-sizing: border-box;
    
  }
  
  .kanan .img-2 {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .kanan .text-form-5 {
    margin: 15px;  
    color: #ff8906;
    text-align: right;
    
  }
  
  .kanan .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background-color: #ff8906;
    border-radius: 6px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  }
  .kanan .buttonForgot {
    display: flex;
    height: 50px;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background-color: #ff8906;
    border-radius: 6px;
  }
  .kanan .button:hover{
    background-color: #f7bd7c;
  }
  .kanan .text-button {
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 20px;
  }
  
  .kanan .not-have-an-account {
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 15px;
    color: #4e5664;
  }
  

  .kanan .text-register{
    color: #ff8906;
  }
  
  .kanan .or-web {
    position: relative;
    height: 50px;
  }
  
  .kanan .line {
    width: 45%;
    left: 0;
    position: absolute;
    top: 8px;
  }
  
  .kanan .line-2 {
    right: 0%;
    position: absolute;
    top: 8px;
    width: 40%;
  }
  
  .kanan .text-form-8 {
    position: absolute;
    top: -1px;
    left: 50%;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #aaaaaa;
    font-size: 12px;
  }
  
  .kanan .registerGoogleFacebook {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .kanan .facebook-btn {
    flex: 1;
    height: 64px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 4px 10px #00000014;
  }
  
  .kanan .div-5 {
    display: inline-flex;
    align-items: flex-end;
    gap: 22px;
    position: relative;
    top: 20px;
    left: 127px;
  }
  
  .kanan .img-3 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .kanan .text-form-9 {
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 500;
    color: #4f5665;
    font-size: 18px;
    text-align: center;
    
  }
  
  .kanan .google-btn-standard {
    flex: 1;
    height: 64px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 4px 10px #00000014;
  }
  
  .kanan .div-6 {
    display: inline-flex;
    align-items: flex-end;
    gap: 22px;
    position: relative;
    top: 20px;
    left: 130px;
  }
  


/* Profile */
.desktop-profile {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  }
  
  .desktop-profile .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1357px;
    height: 4363px;
  }
  
  .desktop-profile .diataskotak{
    display: flex;
    flex: 1;
  }
  .desktop-profile .diataskotak p{
    font-size: 20px;
    font-weight: 400;
  }
  .desktop-profile .kotakkananprofile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
}
.desktop-profile .kotakisiprofile{
  display: flex;

}
 .desktop-profile .form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 600px;
    flex: 3;
    
}

.desktop-profile  .form .text-form-2 {
  position: relative;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #8e6447;
  font-size: 22px;
}

.desktop-profile  .form .p {
  position: relative;
  font-family: "Plus Jakarta Sans", Helvetica;
  color: #4e5664;
  font-size: 16px;
}

.desktop-profile  .form .textEP {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 15px;
}

.desktop-profile  .form label {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #0b132a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-profile .kotak {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 13px;
  width: 100%;
  background-color: #fcfdfe;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #dedede;
  box-sizing: border-box;
  
}

.desktop-profile .img-2 {
  position: relative;
  width: 16px;
  height: 16px;
}

.desktop-profile .text-form-5 {
  margin: 15px;  
  color: #ff8906;
  text-align: right;
  
}

.desktop-profile .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  background-color: #ff8906;
  border-radius: 6px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}


















  /* footer  */
  .footer {
    width: 100%;
    height: 371px;
  }
  
  .footer .group {
    display: flex;
    width: 100%;
    height: 371px;
  }
  
  .footer .overlap-group {
    position: relative;
    width: 100%;
    background-image: url(/assets/Rectangle\ 260.png);
    background-size: 100% 100%;
    display: flex;
  }
  

  
  .footer .footer-product {
    font-family: "Plus Jakarta Sans", Helvetica;
    color: #0b132a;
    letter-spacing: 0;
    line-height: 30px;
    font-size: 18px;
    white-space: nowrap;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0px 102px 0px;
    justify-content: center;
  }
  
  .footer .footer-engage {
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 0px 102px 0px; /* Membuat link-link berada dalam kolom */
  }
  
  
  .footer .logo-kata2 {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex: 1;
    flex-direction: column;
  }
  
  .footer .frame-2 {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    position: relative;
    background-color: #8e6447;
    margin: 92px 0px 0px;
  }
 
  .footer .p {
    width: 340px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .footer .text-wrapper-13 {
    position: absolute;
    top: 274px;
    left: 130px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #afb5c0;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .footer .sosmed {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    justify-content: center;
  }
  
  .footer .socmed-facebook {
    background-image: url(/assets/Facebook.png);
    position: relative;
    width: 33.6px;
    height: 33.6px;
    background-color: #0b132a;
    border-radius: 16.8px;
    box-shadow: 0px 13px 18px #10122314;
    background-size: 100% 100%;
  }
  
  .footer .socmed-twitter {
    background-image: url(/assets/Twitter.png);
    position: relative;
    width: 33.6px;
    height: 33.6px;
    background-color: #0b132a;
    border-radius: 16.8px;
    box-shadow: 0px 13px 18px #10122314;
    background-size: 100% 100%;
  }
  
  .footer .socmed-instagram {
    background-image: url(/assets/Instagram.png);
    position: relative;
    width: 33.6px;
    height: 33.6px;
    background-color: #0b132a;
    border-radius: 16.8px;
    box-shadow: 0px 13px 18px #10122314;
    background-size: 100% 100%;
  }
  
  
  
  /* end footer  */

    /* navbar  */
    .desktop-profile .navbar {
      display: flex;
      width: 1358px;
      height: 76px;
      align-items: center;
      justify-content: space-around;
      background-color: black;
      z-index: 1;
    }
   
    
    .desktop-profile .navbar .kirinavbar {
      display: inline-flex;
      align-items: center;
      gap: 68px;
      position: relative;
      flex: 0 0 auto;
    }
    
    .desktop-profile .logo {
      position: relative;
      flex: 0 0 auto;
    }
    
    .desktop-profile .header-link-block {
      display: flex;
      width: 156px;
      align-items: center;
      gap: 60px;
      position: relative;
      align-self: stretch;
      text-decoration: none;
      font-family: "Plus Jakarta Sans", Helvetica;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0;
      line-height: 20px;
    }
    
    .desktop-profile .navbar .header-link-block  a {
      text-decoration: none;
    }
    .desktop-profile .navbar .header-link-block .home:hover{
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: #ff8906;
    }
    .desktop-profile .navbar .header-link-block .product:hover{
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: #ff8906;
    }  
    
    
    .desktop-profile .navbar .kanannavbar {
      display: inline-flex;
      align-items: center;
      gap: 22px;
      position: relative;
      flex: 0 0 auto;
    }
    
    .desktop-profile .img-2 {
      position: relative;
      width: 24px;
      height: 24px;
    }
    
    .desktop-profile .button-signin {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      padding: 12px 18px;
      position: relative;
      flex: 0 0 auto;
      border-radius: 5px;
      border: 1px solid;
      border-color: #ffffff;
      box-sizing: border-box;
    }
    
    .desktop-profile .button-signin a {
      color: #ffffff;
      font-family: "Plus Jakarta Sans", Helvetica;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
    }
    
    .desktop-profile .button-signup {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      padding: 12px 18px;
      position: relative;
      flex: 0 0 auto;
      background-color: #ff8906;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
    .desktop-profile .button-signup a {
      color: #0b132a;
      position: relative;
      width: fit-content;
      margin-top: -1px;
      font-family: "Plus Jakarta Sans", Helvetica;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
    }
    /* navbar end  */